GuiaIntegraciónMariaDB/03_nodered_flow.json
[
    {
        "id": "reproductor_tab",
        "type": "tab",
        "label": "Reproductor - Historial",
        "disabled": false,
        "info": "# Reproductor de Música - Historial en MariaDB\n\nEste flow escucha el topic MQTT `reproductor/metadata` que publica el script Python (p.py) cuando detecta una nueva canción en Airplay, Spotify o local, y guarda el evento en la tabla `reproducciones` de MariaDB.\n\n## Lógica\n\n1. **MQTT in** → recibe el JSON `{titulo, artista, album, fuente, duracion}`.\n2. **Validar + deduplicar** → descarta payloads sin título y evita insertar la misma canción dos veces en menos de 5 minutos (protege contra mensajes `retain=true` en reconexiones y contra re-publicaciones accidentales).\n3. **MySQL** → ejecuta el INSERT parametrizado en la tabla `reproducciones`.\n4. **Debug** → loggea cada inserción (verde) y cada descarte (gris).\n\n## Configuración requerida\n\n- Nodo `mysql-db`: ajustar host, usuario y contraseña.\n- Paquete: `node-red-node-mysql` (funciona con MariaDB).\n"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-historial",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "mariadb_cfg",
        "type": "MySQLdatabase",
        "name": "MariaDB reproductor",
        "host": "localhost",
        "port": "3306",
        "db": "reproductor",
        "tz": "",
        "charset": "UTF8MB4"
    },
    {
        "id": "mqtt_in_meta",
        "type": "mqtt in",
        "z": "reproductor_tab",
        "name": "reproductor/metadata",
        "topic": "reproductor/metadata",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 140,
        "wires": [["fn_validar_dedupe"]]
    },
    {
        "id": "fn_validar_dedupe",
        "type": "function",
        "z": "reproductor_tab",
        "name": "Validar + Dedupe (5 min)",
        "func": "// ─────────────────────────────────────────────────────────────\n// Valida el payload y deduplica. Evita insertar la misma canción\n// dos veces si llega repetida en menos de VENTANA_MS milisegundos.\n// Esto protege contra:\n//   - Mensajes MQTT retained que llegan al reconectar Node-RED\n//   - Republicaciones accidentales del script Python\n// ─────────────────────────────────────────────────────────────\n\nconst VENTANA_MS = 5 * 60 * 1000;  // 5 minutos\nconst FUENTES_VALIDAS = ['airplay', 'spotify', 'local'];\n\nconst p = msg.payload;\n\n// 1) Validación mínima: debe haber título\nif (!p || typeof p !== 'object' || !p.titulo || !String(p.titulo).trim()) {\n    node.status({ fill: 'grey', shape: 'ring', text: 'payload vacío/inválido' });\n    return null;\n}\n\n// 2) Validar fuente (si viene rara, la normalizamos a 'airplay')\nlet fuente = String(p.fuente || '').toLowerCase().trim();\nif (!FUENTES_VALIDAS.includes(fuente)) {\n    fuente = 'airplay';\n}\n\n// 3) Dedupe: misma canción+artista+fuente en los últimos VENTANA_MS = ignorar\nconst ahora = Date.now();\nconst key = `${p.titulo}||${p.artista || ''}||${fuente}`;\nconst ultimoKey = flow.get('ultimo_key');\nconst ultimoTs  = flow.get('ultimo_ts') || 0;\n\nif (key === ultimoKey && (ahora - ultimoTs) < VENTANA_MS) {\n    const segsRest = Math.round((VENTANA_MS - (ahora - ultimoTs)) / 1000);\n    node.status({ fill: 'grey', shape: 'ring', text: `duplicado (${segsRest}s restantes)` });\n    return null;\n}\n\nflow.set('ultimo_key', key);\nflow.set('ultimo_ts', ahora);\n\n// 4) Duración: puede venir null (típico en airplay al arrancar) → la dejamos NULL\nlet duracion = null;\nif (p.duracion !== undefined && p.duracion !== null && !isNaN(parseFloat(p.duracion))) {\n    duracion = parseFloat(p.duracion);\n}\n\n// 5) Preparar el INSERT parametrizado (evita SQL injection)\nmsg.topic = `INSERT INTO reproducciones\n             (titulo, artista, album, duracion_seg, fuente)\n             VALUES (?, ?, ?, ?, ?)`;\n\nmsg.payload = [\n    String(p.titulo).substring(0, 255),\n    String(p.artista || '').substring(0, 255),\n    String(p.album   || '').substring(0, 255),\n    duracion,\n    fuente\n];\n\nnode.status({ fill: 'blue', shape: 'dot', text: `→ ${p.titulo} (${fuente})` });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [["mysql_insert"]]
    },
    {
        "id": "mysql_insert",
        "type": "mysql",
        "z": "reproductor_tab",
        "mydb": "mariadb_cfg",
        "name": "INSERT reproducciones",
        "x": 680,
        "y": 140,
        "wires": [["fn_log_ok"]]
    },
    {
        "id": "fn_log_ok",
        "type": "function",
        "z": "reproductor_tab",
        "name": "Log OK",
        "func": "// El nodo mysql devuelve info del INSERT en msg.payload\nconst r = msg.payload || {};\nif (r.affectedRows >= 1) {\n    node.status({ fill: 'green', shape: 'dot', text: `id=${r.insertId} ✓` });\n    msg.payload = `✅ Guardado en BD · id=${r.insertId}`;\n} else {\n    node.status({ fill: 'yellow', shape: 'ring', text: 'sin cambios' });\n    msg.payload = '⚠️  INSERT sin filas afectadas';\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 140,
        "wires": [["debug_ok"]]
    },
    {
        "id": "debug_ok",
        "type": "debug",
        "z": "reproductor_tab",
        "name": "Historial",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 140,
        "wires": []
    },
    {
        "id": "catch_errores",
        "type": "catch",
        "z": "reproductor_tab",
        "name": "Errores BD / MQTT",
        "scope": ["mqtt_in_meta", "fn_validar_dedupe", "mysql_insert", "fn_log_ok"],
        "uncaught": false,
        "x": 400,
        "y": 260,
        "wires": [["fn_log_error"]]
    },
    {
        "id": "fn_log_error",
        "type": "function",
        "z": "reproductor_tab",
        "name": "Formatear error",
        "func": "const err = msg.error || {};\nmsg.payload = `❌ [${err.source && err.source.name || 'desconocido'}] ${err.message || 'error sin mensaje'}`;\nnode.status({ fill: 'red', shape: 'dot', text: 'error' });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [["debug_error"]]
    },
    {
        "id": "debug_error",
        "type": "debug",
        "z": "reproductor_tab",
        "name": "Errores",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "inject_query_ejemplo",
        "type": "inject",
        "z": "reproductor_tab",
        "name": "Ver últimas 10",
        "props": [
            { "p": "topic", "v": "SELECT titulo, artista, fuente, reproducido_en FROM reproducciones ORDER BY reproducido_en DESC LIMIT 10", "vt": "str" },
            { "p": "payload", "v": "[]", "vt": "json" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 380,
        "wires": [["mysql_query"]]
    },
    {
        "id": "mysql_query",
        "type": "mysql",
        "z": "reproductor_tab",
        "mydb": "mariadb_cfg",
        "name": "SELECT historial",
        "x": 430,
        "y": 380,
        "wires": [["debug_historial"]]
    },
    {
        "id": "debug_historial",
        "type": "debug",
        "z": "reproductor_tab",
        "name": "Resultado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "comment_tips",
        "type": "comment",
        "z": "reproductor_tab",
        "name": "TIPS: clic en el botón azul del inject para probar la consulta",
        "info": "",
        "x": 280,
        "y": 330,
        "wires": []
    }
]
